{% extends 'sinapsis_base.html' %}

{% block content %}

<div>
    <h1>
        <a href="{% url 'stores:crear' %}"> Agregar una tienda </a>
    </h1>
</div>
<div class="store-container">

    {% for store in filtered %}

    <div class="store-wrapper">
        <h1>{{store.name}}</h1>
        <p>{{store.location}}</p>
        <p>{{store.provincia}}</p>

        <div class="edition-option">
            <button class="update">
                <a href="{% url 'stores:update' store.id %}">Modificar</a>
            </button>

            <form method="post" action="{% url 'stores:borrar' store.id%}">
                {% csrf_token %}
                <button type="submit" class="delete"> Borrar </button>
            </form>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}