@import url("./store_delete.css");
@import url("./store_creator.css");

.store-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    gap: 4rem;
}

.store-wrapper {
    border-radius: 5px;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.store-wrapper a {
    color: white;
    text-decoration: none;
}

h1 > a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 900;
}

a,
a:hover,
a:active,
a:visited {
    color: #999;
}
